<h1>Add an Entry to <%= @place.name %></h1>

<%= form_with model: [@place, @entry], local: true do |form| %>
  <% if @entry.errors.any? %>
    <div>
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
      <ul>
        <% @entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

    <div>
    <%= form.label :occurred_on, "Date" %>
    <%= form.date_select :occurred_on, start_year:1990, end_year:2030 %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 5 %>
  </div>

  <div>
    <%= form.submit "Save Entry" %>
  </div>
<% end %>

<%= link_to "Back to Place", place_path(@place) %>
