<h1><%= @place.name %></h1>

<h2>Entries</h2>
<% @place.entries.each do |entry| %>
  <div>
    <h3><%= entry.title %></h3>
    <p><strong>Date:</strong> <%= entry.occurred_on %></p>
    <p><strong>Description:</strong> <%= entry.description %></p>
  </div>
<% end %>

<%= link_to "Add a New Entry", new_place_entry_path(@place) %>
<p><%= link_to "Back to Places", places_path, class: "btn btn-primary" %></p>

